.contenedor {
  display: grid;
  background-color: lightblue;
  grid-template-columns: repeat(4, 1fr);
}

.caja {
  display: grid;
  background-color: lightsalmon;
  border: 2px solid black;
}

.caja.destacada {
  display: grid;
  background-color: lightgreen;
  border: 2px solid black;
  grid-column: span 4;
}
