.contenedor {
  display: grid;
  background-color: lightblue;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.caja {
  display: grid;
  background-color: lightsalmon;
  border: 2px solid black;
}